.project-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 100%;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    width: 50%;
    padding-right: 20px;
}

.project-info h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.project-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 18rem; /* Adjust height as needed */
    border-radius: 5px;
    overflow: hidden;
}

/* Media Queries */
@media (max-width: 720px) {
    .project-display {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .project-info {
        width: 100%;
        padding-right: 0;
        text-align: left;
    }
    .project-video {
        width: 100%;
        height: auto;
    }
}
