.image {
    width: 100%;
    filter: grayscale(20%);
    transition-duration: 0.3s;
    border-radius: 50%;
}

.image:hover{
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .image {
        width: 50%;
    }
}
